* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.6;
  text-align: center;
  color: hsl(209, 33%, 12%);
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 5rem auto;
  padding: 0 0.5rem;
}

/* General */
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.form__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.125rem;
}

.form__input {
  padding: 0.65rem 2rem;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 25px;
}

.form__input:focus {
  outline: none;
}

.form__error {
  font-size: 0.65rem;
  color: red;
  margin-top: 0.25rem;
}

.btn {
  padding: 0.65rem;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(223, 87%, 63%);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: inherit;
  transition: all 0.2s;
}

.btn-primary:hover {
  transform: scale(1.1);
}

/* Subscribe */
.subscribe__img {
  margin-bottom: 1.75rem;
}

.subscribe__title {
  margin-bottom: 0.8rem;
  font-size: 1.35rem;
}

.subscribe__title > span {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
}

.subscribe__subtitle {
  font-size: 0.85rem;
  margin-bottom: 2rem;
}

/* Footer */

.footer {
  padding: 2rem;
}

.social-links {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__link:link,
.social-links__link:visited {
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 50%;
  margin-right: 0.75rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.75rem;
  color: hsl(223, 87%, 63%);
  transition: all 0.25s;
}

.social-links__link:hover,
.social-links__link:active {
  color: hsl(223, 87%, 50%);
}

.footer__text {
  font-size: 0.75rem;
  color: hsl(0, 0%, 59%);
}

@media only screen and (min-width: 30rem) {
  .form {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 2.5rem;
  }

  .form__control {
    width: 60%;
    margin-right: 1rem;
  }

  .form__error {
    text-align: left;
    padding-left: 2rem;
  }

  .btn {
    padding: 0.65rem 1.75rem;
  }

  .subscribe__title {
    font-size: 2rem;
  }

  .subscribe__subtitle {
    font-size: 1rem;
  }
}
